
body{
    
    margin: 0 auto;
    background: #cfe2aa ;
    padding: 5px;
    width: 50%;
   text-align: center;
    font-family: sans-serif;
    font-size: 16pt;
   
}


h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 16pt;

}
h2{
    font-family: sans-serif;
    font-size: 16pt;
}
.title{
    font-size: 25pt;
    font-family: 'Gill Sans';
}
.title1{
color: rgb(0, 0, 0);
font-size: 19pt;
}
.base{
    color: darkblue;
}